@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background-color: rgb(2 6 23);

html,
body {
  background-color: $background-color;
  font-family: 'Cormorant Garamond', serif;
  font-display: swap;
}

*::selection {
  color: $background-color;
  background-color: rgb(107 114 128);
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: $background-color;

  &-thumb {
    background-color: rgb(107 114 128);

    &:hover {
      background-color: #fff;
    }

    &:active {
      background-color: rgb(107 114 128);
    }
  }
}

.search-results-left {
  flex: 3;
}

.search-results-right {
  flex: 1.25;
}
